* {
    margin: 0;
    padding: 0
}

ul,
ol {
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
}


/* #container {
    width: 1170px;
    margin: 0 auto
} */

#show_recipe img {
    width: 100%;
}

.show_ingredients {
    display: flex;
}

.main_recipe h4 {
    text-align: center;
}

#meals_details {
    display: flex;
    justify-content: center;
    align-content: center;
}

#meals_details img {
    width: 100%;
    border-radius: 10px;
    margin: 50px 0 10px;
}

#meals_details h3 {
    font-size: 36px;
    font-weight: 700;
    margin: 20px 0
}

#meals_details h4 {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 15px;
}

#show_recipe .recipie {
    margin: 10px 0;
    cursor: pointer;
    text-align: center;
}

.recipie img {
    width: 100%;
    border-radius: 5px;
}

#show_recipe .recipie h4 {
    padding: 15px 0;
    background: #f1f1f1;
    color: #222;
}

.ingredients_item p {
    margin-bottom: 3px;
}

.ingredients_item p i {
    color: tomato
}


/* nav bar  */

.form {
    margin-bottom: 60px;
}

.navbar .navbar-nav .nav-item .nav-link {
    color: #333
}

.navbar-brand {
    width: 50px;
    height: 50px;
}

.form .btn {
    margin-left: -25px;
    padding: 6px 20px;
}