* {
    margin: 0;
    padding: 0,
}

ul,
ol {
    list-style: none;
}

body {
    overflow-x: hidden;
}

#container {
    width: 1170px;
    margin: 0 auto
}

#show_recipe img {
    width: 100%;
}

#show_recipe {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-top: 50px;
}

.main_recipe h4 {
    text-align: center;
}

#meals_details img {
    width: 150px;
}